@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_MyLayout";
}
<!--REnderBody-->
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<!--Section-->
@section MenuSec{
    <h2 style="background-color:antiquewhite">MEsssage From View To Menu Section</h2>

}

@section FooterSec{
    <h2 style="background-color:antiquewhite">MEsssage From View To Footer Section</h2>

}
@* @section Head{
    <h1>dlfldf</h1>
} *@