@model List<Student>

<!--Display Model Come From Action -->
  <!--List<student>-->
<table class="table table-hover table-bordered">
    @foreach (Student item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Address</td>
            <td>@item.Age</td>
            <td><img src="~/Images/@item.ImageURl" style="width:100px;height:100px"/></td>
        </tr>
    }


</table>
